html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-top: 7vh;
    margin-bottom: 50px;
    padding: 20px;
    gap: 20px;
}

.infos .first {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 1.1rem;
}

.infos .first h2 {
    font-weight: 400;
}

.infos .second {
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 20px;
}

.infos .second h2 {
    font-weight: 400;
}

.infos .second .bold {
    font-weight: bold;
}

.etape {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 125px;
}

.etape *{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    padding: 5px;
    color: #ffffff;
}
.etape h2 {
    font-size: 2rem;
}

.etape p {
    font-size: 1.2rem;
}

.etape .firstetape {
    background-color: #e6007e;
}

.etape .firstetape h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 175px;
    width: 100%;
    background: linear-gradient(95deg, rgba(250,217,233,1) 0%, rgba(230,0,126,1) 25%);
}

.etape .firstetape p {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 175px;
    width: 100%;
    background-color: #FCEBF3;
    color: #808080;
}

.etape .secondetape {
    background-color: #c1d100;
}

.etape .secondetape h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 175px;
    width: 100%;
    background: linear-gradient(95deg, #c1d100 0%, #13A538 25%);
}

.etape .secondetape p {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 175px;
    width: 100%;
    background-color: #EDF3B5;
    color: #808080;
}


.etape .thirdetape {
    background-color: #009fe3;
}

.etape .thirdetape h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 175px;
    width: 100%;
    background: linear-gradient(95deg, #9CD9F7 0%, #009fe3 25%);
}

.etape .thirdetape p {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 175px;
    width: 100%;
    background-color: #DCF2FC;
    color: #808080;
}