
  
  .text-partenaire{
    font-size: 3vh;
    color: rgb(100, 94, 94);
    text-align:left;
    margin:auto;s
   }

  .box-logo{
    margin:auto;
    width: 75%;
  }

  .logo{
    width: 300px;
    height: 200px;
  }

  .tab{
    border-collapse: separate;
    border-spacing: 200px 75px ;
  }

  .box-partenaire{
    margin: auto;
    width:40%;
  }