html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-partenaire{
  font-size: 28px;
  color: rgb(100, 94, 94);
  text-align:left;
  margin: 10px auto;
}



.logo{
  width: 230px;
  height: 140px;
}

.tab{
  border-collapse: separate;
  border-spacing: 185px 60px ;
}

.box-partenaire{
  margin: auto;
  width: 49%;
}

.deconnexion, .deconnexion:visited{
  font-size:20px;
  padding: 5px 10px 5px 10px;
  margin-left: 25px;
  color: white;
  border:1px solid black;
  background-color: rgb(180, 176, 176);
  
}
