html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: url('/img/logovert.png');
    background-position: 50% 750px;
    background-repeat: no-repeat;
    background-size: 50%;
    
}



.textereferent{
    margin:auto;
    width: 47%;
    font-size:40px;
    color:green;
}
.textereferent2{
    margin:auto;
    width: 35%;
    font-size:40px;
    color:green;
}

.boxreferent{
    background-color: white;
    
    margin: auto;
    width:35%;
    height: 450px;
    border:4px solid yellowgreen;
    padding : 20px;
}

.referent{
    font-size: 38px;
    color: yellowgreen;
    line-height: 1.5;
}

.boxdroite-referent{
    margin-right: 2%;
    margin-left:85%;
    margin-top: -500px;
 }
 
 .messavoirs-referent{
     text-align-last: right;
     color:yellowgreen;
     font-size:27px;
     padding-right:20px;
     letter-spacing: -3px;
 }
 
 .boxconfirme-referent{
     height: 55px;  
     background: linear-gradient(to right, yellowgreen, green);
     color:white;
     font-size:24px;
     padding-left: 5%;
     letter-spacing: -1px;
     padding-top: 15px;
 }
 
 .coche-referent{
     padding-left:10%;
     background-image: radial-gradient(circle at 0% 0%, rgb(228, 243, 188), rgb(197, 235, 122));
     height: 420px;
     font-size: 29px;
     line-height: 50px;
 }
 
 .case-coche{
     
     scale:2;
     margin-right: 20px;
     
 }
 
 .case-coche + label{
     display: inline-block;
     vertical-align: middle;
     margin-left: 5px;
   }
 
 .choix-referent{
     
     padding-top:5%;
     font-size:22px;
     color:yellowgreen;
 }
 
 .valider-referent{
     background-color: yellowgreen;
     margin-left: 100px;
     margin-top:30px;
     width: 40%;
     height: 60px;
     color:white;
     font-size: 35px;
     border:1px solid black;
     text-decoration: none;
}
 

 .valider-referent :visited,  .refuser-referent :visited{ 
    text-decoration: none;
    background-color: yellowgreen;
    color:white;
    
}
 

 .refuser-referent{
    background-color: yellowgreen;
    margin-left: 150px;
    margin-top:30px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 40%;
    height: 60px;
    color:white;
    font-size: 35px;
    border:1px solid black;
    text-decoration: none;
}

 .boxgauche-referent{
    margin-left: 2%;
    margin-right:85%;
    margin-top: -540px;
 }

 .boxcommentaire-referent{
    height: 70px;  
    background-image: radial-gradient(circle at 0% 0%, rgb(228, 243, 188), rgb(197, 235, 122));
    color:white;
    font-size:30px;
    padding-left: 7%;
    padding-top: 15px;
    letter-spacing: -3px;
    
}

.commentaire-referent{
    padding-left:5%;
    padding-top: 10%;
    background-image: radial-gradient(circle at 0% 0%, rgb(228, 243, 188), rgb(197, 235, 122));
    height: 400px;
    font-size: 30px;
    line-height: 1.8;
}

.boxinfosjeune-referent{
    margin-top: 150px;
}

.deconnexion, .deconnexion:visited{
    font-size:20px;
    padding: 5px 10px 5px 10px;
    margin-left: 25px;
    color: white;
    border:1px solid black;
    background-color: rgb(180, 176, 176);
    
}

.fermer{
    font-size:20px;
    padding: 5px 10px 5px 10px;
    margin-top:10px;
    margin-left: 25px;
    color: white;
    border:1px solid black;
    background-color: rgb(180, 176, 176);
}

.boxgauche-referentformulaire{
    margin-left: 2%;
    margin-right:85%;
    margin-top: -450px;
 }

 .referentdétail{
    font-size: 28px;
    color: yellowgreen;
    line-height: 1.5;
}

.boxreferentajout{
    background-color: white;
    
    margin: auto;
    width:35%;
    height: 530px;
    border:4px solid yellowgreen;
    padding : 20px;
}