


html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-image: url('/img/LOGOS JEUNES.png');
    background-size: auto;
    background-position: center top 450px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
h1 {
    padding-top: 7vh;
    color: #333;
    font-size: 48px;
}
p {
    color: #777;
    font-size: 32px;
    margin-top: 10px;
}