.texteconsultant{
    margin:auto;
    width: 40%;
    font-size:50px;
    color:rgb(125, 205, 231);
    padding-bottom:140px;
}

.boxjeune{
    margin-left:40px;
    width:46%;
    height: 600px;
    border:4px solid rgb(230, 0, 126);
    padding : 20px;
}

.jeune{

    padding-top: 1%;
    padding-left: 2%;
    font-size: 60px;
    color: rgb(230, 0, 126);
    letter-spacing: -8px;
}


.texte{
    margin-top: 90px;
    font-size: 35px;
    line-height: 1.5;
    color: grey;
}


.petite-case{
margin-top: -580px;
margin-right:1%;
margin-left: 70%;

}

.savoirs-jeune{
    text-align-last: right;
    color:rgb(230, 0, 126);
    font-size:35px;
    padding-right:20px;
    letter-spacing: -3px;
}

.jesuis{
    height: 45px;  
    background: linear-gradient(to right, white, rgb(230, 0, 126));
    color:white;
    font-size:40px;
    padding-left: 50%;
    letter-spacing: -3px;
    padding-top: 5px;
}

.coche-jeune{
    padding-top: 2%;
    padding-left:10%;
    background-image: radial-gradient(circle at 0% 0%, rgb(253, 243, 251), rgb(252, 238, 238));
    height: 140px;
    font-size: 35px;
}

.case-coche + label{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }

  .case-coche{
    
    scale:2;
    margin-right: 20px;
    
}





.boxreferent{
    margin-top:-649px;
    margin-right: 20px;
    margin-left: 50.5%;
    width:46%;
    height: 600px;
    border:4px solid yellowgreen;
    padding : 20px;
}

.referent{

    padding-top: 1%;
    padding-left: 2%;
    font-size: 60px;
    color: yellowgreen;
    letter-spacing: -8px;
}

.savoirs-referent{
    text-align-last: right;
    color:yellowgreen;
    font-size:35px;
    padding-right:20px;
    letter-spacing: -3px;
}

.jeconfirme{
    height: 45px;  
    background: linear-gradient(to right, yellowgreen, green);
    color:white;
    font-size:40px;
    padding-left: 5%;
    letter-spacing: -3px;
    padding-top: 5px;
}

.coche-referent{
    padding-top: 2%;
    padding-left:10%;
    background-image: radial-gradient(circle at 0% 0%, rgb(228, 243, 188), rgb(197, 235, 122));
    height: 140px;
    font-size: 35px;
}